<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<!--eBay V3- msxml 6.0 XXXXXXXXXXXXXXXXXXXXXXXXXX-->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
<link type="text/css" href="Register%20with%20eBay_files/registeryukonstyles_SSL_e8991us.css" media="all" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="Register%20with%20eBay_files/ebay_SSL_e8991us.css">
<link type="text/css" href="Register%20with%20eBay_files/BubbleHelp_SSL_e8991us.css" media="all" rel="stylesheet"><!--srcId: ChooseUserIdAndPassword--><title>Register with eBay</title>
<script language="JavaScript"><!--
										var pageName = "pagebusregchooseid";
										
									//--></script><link rel="stylesheet" type="text/css" href="Register%20with%20eBay_files/ebay-ns_SSL.css"><link href="Register%20with%20eBay_files/kho3eacddu3k3gs0xqzg2kgulus.css" type="text/css" rel="stylesheet"></head><body onload="toolboxOnLoad();" onunload="toolboxOnUnload();"><br>
<div class="pagewidth"><div class="pageminwidth"><div class="pagelayout"><div class="pagecontainer"><br>
<div><br>
<br>
<div class="gh-acc-exp-div"><a id="gh-hdn-stm" class="gh-acc-a" href="#mainContent">main content</a></div><br>
<div id="gh" class="gh-flex gh-w gh-minH no-touch"><br>
<table class="gh-tbl"><tbody><tr><td class="gh-td"><a href="http://www.ebay.com/" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img style="clip: rect(47px, 118px, 95px, 0px); position: absolute; top: -47px; left: 0pt;" alt="" src="Register%20with%20eBay_files/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo" height="200" width="250"></a></td></tr></tbody></table></div></div><div style="margin-top: -15px; margin-bottom: -25px;"><div class="pageHeader" style=""><br>
<table border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td><b class="pageHdAcess" id="mainContent"><h1 class="ver-pghd">Register with eBay</h1></b></td>
</tr>
</tbody></table>
</div>
<div class="hlpLnk" style="margin-top: -80px;"><br>
</div>
</div>
<div style="margin-top: 20px; margin-bottom: -19px;">
<div class="hideLabel"><a id="pgErr-tlt" class="hide" aria-live="assertive" href="javascript:;" role="alert">Please correct the error in the following fields. Note that all the fields are required.</a><ul>
<li id="pgErr_TextUserId" class="hide"><a href="javascript:;" id="err-1">User ID</a><br>
    <br>
</li>
<li id="pgErr_pass" class="hide"><a href="javascript:;" id="err-2">Password</a><br>
    <br>
</li>
<li id="pgErr_rpass" class="hide"><a href="javascript:;" id="err-3">Re-enter password</a><br>
    <br>
</li>
<li id="pgErr_canned" class="hide"><a href="javascript:;" id="err-4">Secret question</a><br>
    <br>
</li>
<li id="pgErr_myanswer" class="hide"><a href="javascript:;" id="err-5">Secret answer</a><br>
    <br>
</li>
</ul>
</div>
</div>
<form method="post" name="ChooseUserIdAndPassword" action="https://scgi.ebay.com/ws/eBayISAPI.dll" id="ChooseUserIdAndPassword"><br>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td valign="top">
<div class="greyrcp">
<div class="n">
<div class="e">
<div class="w"></div>
</div>
</div>
<div class="Choosetitle"><b><h2 class="headerAccess">Choose your user ID and password</h2></b> - <span class="normalTxtBus">All fields are required</span></div>
<div class="sectionBody" style="padding: 0px;">
<table border="0" cellpadding="0" cellspacing="0">
<tbody><tr valign="top">
<td width="25"><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="1"></td>
<td valign="top" width="575"><a href="http://contact.ebay.com/ws/eBayISAPI.dll?ContactUsNextGen&amp;format=1&amp;pid=562" target="chatwin" onclick="return  popupWindow(this.href,this.target,472,320,'no','no');"><img src="Register%20with%20eBay_files/LiveHelpChooseUserID_379x19.gif" alt=" " align="middle" border="0"></a></td>
</tr>
<tr valign="top">
<td colspan="2"><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="5" width="1"></td>
</tr>
<tr>
<td colspan="2">
<div id="USERID_GROUP">
<table class="YukBody" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="11" width="1"></td>
</tr>
<tr>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"></td>
<td valign="top"><a name="UserID"></a><span class="YukBody"><label for="TextUserId">Choose your company's eBay user ID</label></span><br></td>
</tr>
<tr>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"></td>
<td>
<iframe id="frame1" style="width: 1px; height: 0px; display: none;" src="Register%20with%20eBay_files/s_004.gif" tabindex="-1" title="Validating your input" frameborder="0" height="1" width="1"> </iframe><table class="YukBody" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td><br>
</td>
<td><br>
</td><td><div><span id="user_throbberdiv" name="user_throbberdiv" style="display: none; color: rgb(165, 166, 165);">&nbsp;hecking...</span><span style="display: none;" class="changeDiv" id="chgDiv" name="chgDiv">[<a href="javascript:void(0)" id="chg" name="chg">Change user ID</a>]</span><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="0" width="10"><iframe id="userIdLookupFrame" style="width: 1px; height: 0px;" src="Register%20with%20eBay_files/s_004.gif" tabindex="-1" frameborder="0" height="1" width="1"> </iframe>
</div><span class="YukHelpTxt" id="suserid" name="suserid">Your user ID is your company's identity on eBay. <a href="http://pages.ebay.com/help/reg/contextual/createuserid.html" target="helpwin" onclick="return openContextualHelpWindow(this.href);" class="ancAsb">How to pick a great user ID<b class="g-hdn"> - opens in a new window or tab</b></a>.
		</span><div><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="5" width="1"></div>

<div id="div1_TextUserId" style="display: none; color: red;" class="YukFldErr">Enter your user ID</div>

<br>
</td></tr>
</tbody></table>
</td>
</tr>
<tr>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"></td>
<td>
<div id="div1" name="div1" style="display: none;">
<table cellpadding="0" cellspacing="0" width="1%">
<tbody><tr>
<td nowrap="nowrap" width="1%">
<div class="suggestionLayer">
<div class="dn">
<div class="de">

</div>
</div>
<div class="suggestionInnerLayer">
<div class="Suggestionstext"><b>Our suggestions:</b></div><div id="indiv" name="indiv" style="display: none;"><ul class="urid-ul"><li style="visibility: visible;" name="Innerdiv1" value="UserID1" id="Innerdiv1"><img src="Register%20with%20eBay_files/iconGreyAdd_9x9.gif" id="image1" name="image1" style="cursor: pointer; visibility: visible;" alt=""><span style="padding-left: 5px;"><a href="javascript:void(0);" id="anchor1" name="anchor1" class="Link" tabindex="0"></a></span><br>
                              <br>
                              <br>
</li><li style="visibility: visible;" name="Innerdiv2" value="UserID2" id="Innerdiv2"><img src="Register%20with%20eBay_files/iconGreyAdd_9x9.gif" id="image2" name="image2" style="cursor: pointer; visibility: visible;" alt=""><span style="padding-left: 5px;"><a href="javascript:void(0);" id="anchor2" name="anchor2" class="Link" tabindex="0"></a></span><br>
                              <br>
                              <br>
</li><li style="visibility: visible;" name="Innerdiv3" value="UserID3" id="Innerdiv3"><img src="Register%20with%20eBay_files/iconGreyAdd_9x9.gif" id="image3" name="image3" style="cursor: pointer; visibility: visible;" alt=""><span style="padding-left: 5px;"><a href="javascript:void(0);" id="anchor3" name="anchor3" class="Link" tabindex="0"></a></span><br>
                              <br>
                              <br>
</li><li style="visibility: visible;" name="Innerdiv4" value="UserID4" id="Innerdiv4"><img src="Register%20with%20eBay_files/iconGreyAdd_9x9.gif" id="image4" name="image4" style="cursor: pointer; visibility: visible;" alt=""><span style="padding-left: 5px;"><a href="javascript:void(0);" id="anchor4" name="anchor4" class="Link" tabindex="0"></a></span><br>
                              <br>
                              <br>
</li><li style="visibility: visible;" name="Innerdiv5" value="UserID5" id="Innerdiv5"><img src="Register%20with%20eBay_files/iconGreyAdd_9x9.gif" id="image5" name="image5" style="cursor: pointer; visibility: visible;" alt=""><span style="padding-left: 5px;"><a href="javascript:void(0);" id="anchor5" name="anchor5" class="Link" tabindex="0"></a></span><br>
                              <br>
                              <br>
</li></ul></div>
</div>
<div class="ds">
<div class="de">

</div>
</div>
</div>
                          <br>
                          <br>
                          <br>
</td>
</tr>
</tbody></table>
</div><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="10" width="8"></td>
</tr>
</tbody></table>
</div>
<div id="PASSWORD_GROUP">
<table id="passentersection" class="YukBody" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"></td>
<td><span><a name="Password"></a><label for="PASSWORD"><span class="YukBody">Choose your password</span></label><span class="YukBody"></span></span><br><img src="Register%20with%20eBay_files/iconFormError_16x16.gif" id="img_pass" style="display: none; margin-bottom: -2px;" alt="Error"><img src="Register%20with%20eBay_files/iconFormError_16x16.gif" id="passErrImg" style="display: none; margin-bottom: -2px;" alt="Error"><input name="pass" id="PASSWORD" size="36" oncopy="return false" onpaste="return false" oncut="return false" autocomplete="off" type="password" width="30"><div class="hideLabel"><span id="PassHd" aria-live="assertive" role="alert"></span><ul class="urid-ul">
<li id="failure1-cnt" aria-live="assertive" role="alert"><br>
</li>
<li id="failure2-cnt" aria-live="assertive" role="alert"><br>
</li>
<li id="failure3-cnt" aria-live="assertive" role="alert"><br>
</li>
<li id="failure4-cnt" aria-live="assertive" role="alert"><br>
</li>
</ul>
</div><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="22"><span id="passwordlayer" style="display: none; position: absolute; height: 177px; width: 240px;"><div class="passOlp-oly" id="overlaybox">
<div class="basOlp-sdowbox" style="opacity: 0.15;">
<div class="basOlp-n">
<div class="basOlp-scn">
<div class="basOlp-scn"> </div>
</div>
</div>
<div class="basOlp-ctent" id="shadowlayer"> </div>
<div class="basOlp-s">
<div class="basOlp-scn">
<div class="basOlp-scn"> </div>
</div>
</div>
</div>
<div class="basOlp-ctentbox">
<div class="basOlp-n">
<div class="basOlp-cn">
<div class="basOlp-cn"> </div>
</div>
</div>
<div class="basOlp-ctent">
<div class="basOlp-ctentholder">
<table border="0" cellpadding="0" cellspacing="4">
<tbody><tr>
<td colspan="2"><b>Password essentials</b><br>
                          <br>
                          <br>
                          <br>
</td>
</tr>
<tr>
<td valign="top" width="5%"><span><img src="Register%20with%20eBay_files/iconSuccess_16x16.gif" id="success1" style="display: none;" alt="Success" height="16" width="16"></span><span><img src="Register%20with%20eBay_files/iconAlert_16x16.gif" id="failure1" style="display: none;" alt="Alert" height="16" width="16"></span><br>
                          <br>
                          <br>
                          <br>
</td>
<td id="failure1-cnt1">
	6-64 characters
                          <br>
                          <br>
                          <br>
                          <br>
</td>
</tr>
<tr>
<td valign="top" width="5%"><span><img src="Register%20with%20eBay_files/iconSuccess_16x16.gif" id="success2" style="display: none;" alt="Success" height="16" width="16"></span><span><img src="Register%20with%20eBay_files/iconAlert_16x16.gif" id="failure2" style="display: none;" alt="Alert" height="16" width="16"></span><br>
                          <br>
                          <br>
                          <br>
</td>
<td id="failure2-cnt1">
	Mix of letters, numbers, or symbols
                          <br>
                          <br>
                          <br>
                          <br>
</td>
</tr>
<tr>
<td valign="top" width="5%"><span><img src="Register%20with%20eBay_files/iconSuccess_16x16.gif" id="success3" style="display: none;" alt="Success" height="16" width="16"></span><span><img src="Register%20with%20eBay_files/iconAlert_16x16.gif" id="failure3" style="display: none;" alt="Alert" height="16" width="16"></span><br>
                          <br>
                          <br>
                          <br>
</td>
<td id="failure3-cnt1">
	Not similar to your user ID or email
                          <br>
                          <br>
                          <br>
                          <br>
</td>
</tr>
<tr>
<td valign="top" width="5%"><span><img src="Register%20with%20eBay_files/iconSuccess_16x16.gif" id="success4" style="display: none;" alt="Success" height="16" width="16"></span><span><img src="Register%20with%20eBay_files/iconAlert_16x16.gif" id="failure4" style="display: none;" alt="Alert" height="16" width="16"></span><br>
                          <br>
                          <br>
                          <br>
</td>
<td id="failure4-cnt1">
	Not easily guessed, e.g. <i>abc123</i><br>
                          <br>
                          <br>
                          <br>
</td>
</tr>
</tbody></table>
</div>
</div>
<div class="basOlp-s">
<div class="basOlp-cn">
<div class="basOlp-cn"> </div>
</div>
</div>
<div class="basOlp-aTL"> </div>
</div>
</div></span><iframe id="passframe" style="width: 1px; height: 0px;" src="Register%20with%20eBay_files/s_004.gif" tabindex="-1" frameborder="0" height="1" width="1"></iframe><br><div id="div1_pass" style="display: none; color: red;" class="YukFldErr" aria-live="assertive" role="alert">Enter your password</div>

<span class="YukHelpTxt" id="passHelpText">
										caSe sensiTive. <a href="http://pages.ebay.com/help/new/contextual/create_password.html" onclick="ebayShowPopupWindow(this.href, '', 413, 461, 0, 0, 0, 1, 1, 0, 450, 100); return false;" target="helpwin" class="ancAsb" id="passHelpAnc">Learn about secure passwords<b class="g-hdn"> - opens in a new window or tab</b></a>.
									</span></td>
<td rowspan="2" align="center" nowrap="yes" valign="top"><br>
</td>
</tr>
<tr>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="10" width="1"></td>
</tr>
<tr>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"></td>
<td style="padding-top: 10px;"><label for="rpass"><span class="YukBody">Re-enter your password</span></label><span class="YukBody"></span><br><img src="Register%20with%20eBay_files/iconFormError_16x16.gif" id="img_rpass" style="display: none; margin-bottom: -2px;" alt="Error"><input name="rpass" size="36" oncopy="return false" onpaste="return false" oncut="return false" id="rpass" autocomplete="off" type="password" width="30"><br><div id="div1_rpass" style="display: none; color: red;" class="YukFldErr" aria-live="assertive" role="alert">Please enter your password again</div>

</td>
</tr>
</tbody></table>
</div>
<div id="SECRET_QUESTION_GROUP">
<table class="YukBody" border="0" cellpadding="0" cellspacing="0" width="600">
<tbody><tr>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="10" width="1"></td>
</tr>
<tr>
<td align="left"><span><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"></span><span class="YukBody"><label for="SECRET_QUESTION">Pick a secret question</label></span></td>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="20"></td>
</tr><tr>
<td><span><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"></span><img src="Register%20with%20eBay_files/iconFormError_16x16.gif" id="img_canned" style="display: none; margin-bottom: -2px;" alt="Error"><select name="canned" id="SECRET_QUESTION"><option selected="selected" name="value" value="0">Select a question...</option>
<option name="value" value="1">What street did you grow up on?</option>
<option name="value" value="2">What is your mother's maiden name?</option>
<option name="value" value="3">What is the name of your first school?</option>
<option name="value" value="4">What is your pet's name?</option>
<option name="value" value="5">What is your father's middle name?</option>
<option name="value" value="6">What is your school's mascot?</option></select><div><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"><span id="div1_canned" style="display: none; color: red;" class="YukFldErr">Select your secret question</span><span id="div_canned" style="display: none; color: red;" class="YukFldErr" aria-live="assertive" role="alert"></span></div>
</td>
</tr>
<tr>
<td>
<div><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="10" width="1"></div><span><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"></span><span class="YukBody"><label for="SECRET_ANSWER">Your secret answer</label></span><span class="YukBody"></span></td>
</tr>
<tr>
<td><span><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"></span>
<input name="TextUserId" id="TextUserId" autocomplete="off" size="36" type="text" width="20">
<img src="Register%20with%20eBay_files/iconFormError_16x16.gif" id="img_myanswer" style="display: none; margin-bottom: -2px;" alt="Error">
<input name="myanswer" id="SECRET_ANSWER" size="36" maxlength="20" type="text" width="40">
<div>
<img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17">
<span id="div1_myanswer" style="display: none; color: red;" class="YukFldErr">Enter your secret answer</span>
<span id="div_myanswer" style="display: none; color: red;" class="YukFldErr" aria-live="assertive" role="alert"></span></div>
</td>
</tr>

</tbody></table>
<table class="YukBody" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="1" width="17"></td>
<td class="YukHelpTxt" id="secanswer">If you forget your password, we'll verify your identity with your secret question. </td>
</tr>
</tbody></table>
</div>
</td>
</tr>
<tr>
<td><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="11" width="1"></td>
</tr>
</tbody></table>
<div style="padding: 6px 0pt 0pt 17px;">
<div><button type="submit" id="continue" name="continue" class="ButtonBuss"><span class="btn"><span class="btn">Continue</span></span></button></div>
<div id="regerrordiv" style="display: none; margin-top: 15px;" class="YukFldErr">We need some additional information from you. Please check and try again.</div>
</div>
</div><img src="Register%20with%20eBay_files/s_004.gif" alt="" height="15" width="17"><div class="s">
<div class="e">
<div class="w"></div>
</div>
</div>
</div>
<div class="greyBoxBottomPadding"></div>
</td>
<td style="padding: 0px; width: 15px;"><br>
</td>

</tr>
</tbody></table></form></div></div></div></div><br>
<div style="position: absolute; display: none; top: 0px; left: 0px; z-index: 2;" id="lyrGrayout_sec"></div></body></html>